<!--<script type="text/javascript">

	$(function() {
		update_orders_input();
		update_orders_button();
	});
	
//	var orders_arr = cart_get_orders();

//	window.onload = $(function() {
//        document.getElementById('orders_input_table').innerHTML = orders_arr;
//    });

</script>-->

<h3>Your cart</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Product</th>
			<th>Price</th>
			<th>Q-ty</th>
		</tr>
	</thead>
	<tbody>
	<% total_price = 0 %>
	<% total_qty = 0 %>
	<% @items.each do |item| %>
	 	<tr>
	  		<td> <%= item[0].title %> </td>
	  		<td> <%= item[0].price %> </td>
	  		<td> <%= item[1] %> </td>
	 	</tr>
	 	<% total_price += item[0].price * item[1].to_i %>
	 	<% total_qty += item[1].to_i %>
	 <% end %>

	 	<tr>
	  		<td>  </td>
	  		<td> <i>Total: </i><%= total_price %> Uah</td>
	  		<td> <%= total_qty %> </td>
	 	</tr>

	</tbody>
</table>
