<h3>Welcome to Pizza Ria</h3>

<br />

<div class="row">

<% @products.each do |p| %>

	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

		<p><%= p.title %></p>
		<img style="height: 100%; max-width: 100%" src="<%= p.path_to_image %>" />
		<p>Description: <%= p.description %></p>
		<p>Size: <%= p.size %> Cm</p>
		<p>Price: <%= p.price %> Uah</p>
		
		<button type="button" class="btn btn-warning btn-sm" onclick="add_to_cart(<%=p.id%>)">Add to cart</button>

	</div>

<% end %>

</div>

<br />

<button class="btn btn-success" onclick="test()">Click me!</button>

<script type="text/javascript">
	($function() {
		update_orders_input();
	});
</script>